<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorConsultaPersona</servlet-name>
        <servlet-class>controladores.ControladorConsultaPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBienvenida</servlet-name>
        <servlet-class>controladores.ControladorBienvenida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCrearCliente</servlet-name>
        <servlet-class>controladores.ControladorCrearCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBuscarCliente</servlet-name>
        <servlet-class>controladores.ControladorBuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCrearVehiculo</servlet-name>
        <servlet-class>controladores.ControladorCrearVehiculo</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ControladorActualizarCliente</servlet-name>
        <servlet-class>controladores.ControladorActualizarCliente</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ControladorBuscarVehiculo</servlet-name>
        <servlet-class>controladores.ControladorBuscarVehiculo</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ControladorActualizarVehiculo</servlet-name>
        <servlet-class>controladores.ControladorActualizarVehiculo</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>ControladorCrearVenta</servlet-name>
        <servlet-class>controladores.ControladorCrearVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConsultaVentas</servlet-name>
        <servlet-class>controladores.ControladorConsultaVentas</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControladorBienvenida</servlet-name>
        <url-pattern>/ControladorBienvenida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsultaPersona</servlet-name>
        <url-pattern>/ControladorConsultaPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCrearCliente</servlet-name>
        <url-pattern>/ControladorCrearCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBuscarCliente</servlet-name>
        <url-pattern>/ControladorBuscarCliente</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorActualizarCliente</servlet-name>
        <url-pattern>/ControladorActualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCrearVehiculo</servlet-name>
        <url-pattern>/ControladorCrearVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBuscarVehiculo</servlet-name>
        <url-pattern>/ControladorBuscarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorActualizarVehiculo</servlet-name>
        <url-pattern>/ControladorActualizarVehiculo</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorCrearVenta</servlet-name>
        <url-pattern>/ControladorCrearVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConsultaVentas</servlet-name>
        <url-pattern>/ControladorConsultaVentas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
